{% extends "base.html" %}

{% load static %}


{% block title %} Dashboard {% endblock title %}


{% block content %}

    <div style="color:#e9900a; font-style: bold; font-size: 3rem; border-bottom: 1px solid #fff">Bienvenido, {{ request.user.username }}</div>

    <br>

    <div id="container" style="position: relative; height:45vh; border: 2mm ridge #4F102B; border-radius: 30px;" class="align-middle table-bordered">
        <canvas id="bar-graph"></canvas>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'select-machine' %}" class="btn ghost-blue btn-lg btn-block btn-huge">Produccion</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'new-dispatch' %}" class="btn ghost-blue btn-lg btn-block btn-huge">Despacho</a>
        </div>
    </div>

    <br>

    <div class="content-section">
        <div class="row">

            <div class="col-md-6">
                <div style="color:#e9900a; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #fff">Despachos recientes</div><br>
                {% for item in orders %}
                    {% if not forloop.first %}
                        <br><div style="border-bottom: 0.5px solid #fff"></div><br>
                    {% endif %}
                    <div class="row">               
                        <div class="col-md-9"> 
                            Remito Nro: {{ item.orderno }} <br> 
                            Cliente: {{ item.name }} <br>
                            <small>{{ item.time.date }}</small>
                        </div>
                        <div class="col-md-2"> {{ item.get_total_price }} <br> <br> <a href="{% url 'dispatch-order' item.orderno %}">Ver remito</a> </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-6">
                <div style="color:#e9900a; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #fff">Producciones recientes</div><br>
                {% for item in productions %}
                    {% if not forloop.first %}
                        <br><div style="border-bottom: 0.5px solid #fff"></div><br>
                    {% endif %}
                    <div class="row">               
                        <div class="col-md-9"> 
                            Remito Nro: {{ item.orderno }} <br> 
                            Equipo: {{ item.machine.name }} <br>
                            <small>{{ item.time.date }}</small>
                        </div>
                        <div class="col-md-2"> {{ item.get_total_price }} <br> <br> <a href="{% url 'production-order' item.orderno %}">Ver remito</a> </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <!-- Chart JS -->
    <script src="{% static 'js/Chart.min.js' %}"></script>  
    <script>
        Chart.defaults.global.defaultFontColor = '#fff';

        //Config para el grafico de barras
        var barConfig = {
            type: 'bar',
            data: {
                datasets: [{
                    backgroundColor: '#ffffff',
                    label: 'Productos en stock',
                    data: {{ data|safe }},
                }],
                labels: {{ labels|safe }}
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            },
        };


        //Ejecutar chart cuando esta cargando la pagina
        window.onload = function() {
            var ctx = document.getElementById('bar-graph').getContext('2d');
            window.BarStock = new Chart(ctx, barConfig);
        };

    </script>

{% endblock content %}