{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Listado de Despacho {% endblock title %}


{% block content %}

<div class="row" style="color: #e9900a; font-style: bold; font-size: 3rem;">
    <div class="col-md-8">Listado de Despacho</div>
    <div class="col-md-4">
        <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-dispatch' %}">Nuevo Despacho</a> </div>
    </div>
</div>

<br>

<table class="table table-css">

    <thead class="thead-inverse align-middle">
        <tr>
            <th width="10%">Orden Nro</th>
            <th width="15%">Cliente</th>
            <th width="15%">Productos</th>
            <th width="10%">Cantidad</th>
            <th width="15%">Fecha de Despacho</th>
            <th width="25%">Opciones</th>
        </tr>
    </thead>

    {% if orders %}

    <tbody>
        {% for dispatch in orders %}
        <tr>
            <td class="aldispatchle.orderno }}</h3>
            </td>
            <td class=""> {{ dispatch.name }} <br> <small style=" color: #909494">Ph No : {{ dispatch.phone }}</small></td>
            <td class="align-middle">{% for item in dispatch.get_items_list %} {{ item.stock.name }} <br> {% endfor %}</td>
            <td class="align-middle">{% for item in dispatch.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>
            <td class="align-middle">{{ dispatch.get_total_price }}</td>
            <td class="align-middle">{{ dispatch.time.date }}</td>
            <td class="align-middle"> <a href="{% url 'dispatch-order' dispatch.orderno %}" class="btn ghost-green">Ver</a>
                <a href="{% url 'delete-dispatch' dispatch.pk %}" class="btn ghost-red">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<div class="align-middle">
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">Primera</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
        href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
        {% endif %}

        {% endif %}
</div>

{% else %}

<tbody></tbody>
</table>

<br><br><br><br><br><br><br><br>
<div style="color: #e9900a; font-style: bold; font-size: 1.5rem; text-align: center;">LISTADO VACIO!</div>

{% endif %}

{% endblock content %}